{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/tasks.css'  %}">
</head>

<body>
    <h1>Admin Tasks</h1>
    <form action="/filter_task" method="GET">
        <label for="filtro">Texto:</label>
        <input type="text" id="filterTitle" name="filterTitle" placeholder="Ingresa texto..." required>
        <button type="submit">Filtrar</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Task Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %} <!-- Aquí va el código para cada elemento -->
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    {% if task.datecompleted != None %}
                    <td>Yes</td>
                    {% else %}
                    <td><button type="submit" name="action" value="completed_{{ task.id }}">Mark completed</button></td>

                    {% endif %}

                    <td><button type="submit" name="action" value="update_{{ task.id }}">Update</button></td>
                    <td><input type="checkbox" name="task_completed" value="{{ task.id }}">Delete</td>
                </tr>
                {% empty %}<!-- Aquí va el contenido si la lista está vacía -->
                <tr>
                    <td colspan="3">No tasks available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" name="action" value="delete_selected">Delete Selected Tasks</button>

    </form>
</body>

</html>
{% endblock %}