{% extends 'layouts/base.html' %}



{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center ">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse aperiam qui tenetur ipsam reprehenderit
            voluptate officia illo nisi, in aliquam autem eaque ad architecto. Voluptates, saepe. Eaque, delectus ex
            voluptas provident autem ipsum error natus. Dicta molestiae commodi placeat veniam! Reiciendis excepturi
            obcaecati, commodi voluptates quia, quidem pariatur consequatur maxime odit harum voluptatem eos aspernatur.
            Nam iste laborum vel quibusdam atque quis laboriosam eligendi aspernatur eum cum consequuntur esse expedita
            voluptate fugiat, quam placeat nostrum id aperiam. Architecto praesentium earum at dicta eum repellat
            exercitationem autem commodi aliquam consequuntur incidunt similique, minus voluptatem excepturi cum,
            aliquid eius beatae nobis cumque!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin">SignIn</a>
            <a class="btn btn-primary" href="/signup">SignUn</a>

        </div>




    </section>

</main>

{% endblock %}